.schedule-list-title {
    text-align: center;
}

.schedule-list-header-container {
    display: flex;
    align-items: center;
    font-weight: 550;
    padding-bottom: 0.5rem;

    .name-header {
        flex: 1;
    }

    .category-header {
        flex: 1;
    }

    .start-time-header {
        flex: 1;
    }

    .end-time-header {
        flex: 1;
    }

    .duration-header {
        flex: 1;
    }

    .schedule-header {
        flex: 1;
        display: flex;
        flex-direction: column;

        .start-schedule-container {
            display: flex;
        }

        .add-schedule-container {
            display: flex;
        }

        .schedule-link {
            display: inherit;

            .schedule-text {
            display: flex;
            align-items: center;
            padding-left: 0.25rem;
            }
        }
    }
}

.schedule-item-container {
    display: flex;
    align-items: center;

    .name-item {
        flex: 1;
    }

    .category-item {
        flex: 1;
    }

    .start-time-item {
        flex: 1;
    }

    .end-time-item {
        flex: 1;
    }

    .duration-item {
        flex: 1;
    }

    .edit-schedule-item {
        flex: 1;
    }
}