<div class="schedule-container">
    <h1 class="schedule-list-title">Schedules</h1>
    <div class="schedule-list-header-container">
        <div class="name-header">Name</div>
        <div class="category-header">Category</div>
        <div class="start-time-header">Start Time</div>
        <div class="end-time-header">End Time</div>
        <div class="duration-header">Duration</div>
        <div class="schedule-header">
            <div class="start-schedule-container">
                <a routerLink="" class="schedule-link">
                    <mat-icon>start</mat-icon><div class="schedule-text">Start Schedule</div>
                </a>
            </div>
            <div class="add-schedule-container">
                <a routerLink="" class="schedule-link">
                    <mat-icon>add</mat-icon><div class="schedule-text">Add Schedule</div>
                </a>
            </div>
        </div>
    </div>
    <div class="schedule-item-container" *ngFor="let schedule of schedules">
        <div class="name-item">{{ schedule.name }}</div>
        <div class="category-item">{{ schedule.category }}</div>
        <div class="start-time-item">{{ schedule.startTime | date: 'MMM d, y, h:mm:ss a' }}</div>
        <div class="end-time-item">{{ schedule.endTime | date: 'MMM d, y, h:mm:ss a' }}</div>
        <div class="duration-item">{{ schedule | scheduleDuration }}</div>
        <div class="edit-schedule-item"><a routerLink="">Edit Schedule</a></div>
    </div>
</div>