.schedule-dialog-container {
    padding: 3vh 3vw;
    text-align: center;
}

.schedule-dialog-title {
    text-align: center;
}

.schedule-dialog-input {
    width: 80%;
}

.schedule-dialog-actions {
    display: flex;
    justify-content: space-evenly;
}