<div class="schedule-dialog-container">
  <h1 mat-dialog-title class="schedule-dialog-title">{{ dialogType }} Schedule</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="schedule-dialog-input">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="schedule-dialog-input">
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="category">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="schedule-dialog-input">
        <mat-label>Start Time</mat-label>
        <input matInput [(ngModel)]="startTime">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="schedule-dialog-input">
        <mat-label>End Time</mat-label>
        <input matInput [(ngModel)]="endTime">
      </mat-form-field>

    </div>

    <div>
      <mat-form-field class="schedule-dialog-input">
        <mat-label>Duration</mat-label>
        <input matInput [value]="duration" disabled>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="schedule-dialog-actions">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="adjustSchedule()">{{ dialogType }}</button>
  </div>
</div>