<div class="login-container">
    <div class="login-title-container">
        <h1>Ng Timekeeper</h1>
    </div>
    <div class="login-card-container">
        <mat-card class="login-card">
            <mat-card-title>
                Sign In
            </mat-card-title>
            <mat-card-content>
                <form>
                    <div class="email-form-field-container">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input type="email" matInput>
                        </mat-form-field>
                    </div>

                    <div class="password-form-field-container">
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <div>
                    <button mat-button class="sign-in-button">Sign In</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>