<div class="main-container">
    <app-header class="header" [drawer]="navDrawer"></app-header>
    <mat-drawer-container class="sidenav-container" autosize>

        <mat-drawer #navDrawer mode="side" opened="true" class="sidenav">
            <app-navigation></app-navigation>
        </mat-drawer>

        <mat-drawer-content #navDrawerContent>
            <div class="sidenav-content">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>

    </mat-drawer-container>
</div>