.main-section-padding {
    padding: 1rem 2rem;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    flex: 0 1 auto;
}

.sidenav-container {
    flex: 1 1 auto;
}

.sidenav {
    @extend .main-section-padding;
}

.schedule-details {
    @extend .main-section-padding;
}

.sidenav-content {
    @extend .main-section-padding;
}